.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
}

.image{
    width: auto;
    height: 500px;
}

.text {
    font-size: 20px;
}

.text2 {
    font-size: 30px;
}